#textdomain wesnoth-Nightmares_of_Meloen

#ifndef NOM_DEVEL_NIGHTMARES_RANDOM_LEADERS
#define NOM_DEVEL_NIGHTMARES_RANDOM_LEADERS
DEVEL_Angry One,DEVEL_Rash One,DEVEL_Jinx Beast,DEVEL_Spiteful Watcher,DEVEL_Soul Snatcher#enddef
#endif

#ifndef NOM_DEVEL_NIGHTMARES_LEADERS
#define NOM_DEVEL_NIGHTMARES_LEADERS
{NOM_DEVEL_NIGHTMARES_RANDOM_LEADERS}#enddef
#endif

#Include AI definition here so it gets included in all eras using Nightmares
{~add-ons/Nightmares_of_Meloen/ai/ais}

[multiplayer_side]
    id=nightmares
    name={MENU_IMG_TXT "units/soul_snatcher.png" _"Nightmares of Meloen"}
    type=random
    random_leader={NOM_DEVEL_NIGHTMARES_RANDOM_LEADERS}
    leader={NOM_DEVEL_NIGHTMARES_LEADERS}
    recruit=DEVEL_Unhatched,DEVEL_Creepers,DEVEL_Scornful Watcher,DEVEL_Black Cat,DEVEL_Howling Darkness,DEVEL_Unstable Elemental,DEVEL_Life Thief
    terrain_liked=Ss,Hh,Ha,Ww
    [ai]
        recruitment_pattern=fighter,fighter,archer,fighter,archer,scout
    [/ai]
[/multiplayer_side]
